.input-blue {
  @apply py-3 px-4 bg-gray-50 border rounded-lg border-gray-200 hover:border-blue-600 focus:border-blue-600 focus:ring-0 text-sm sm:text-base;

  &:disabled {
    @apply border-gray-200  text-sm sm:text-base;
  }

  &:disabled::placeholder {
    @apply text-gray-400 border-gray-200 text-sm sm:text-base;
  }

  &:read-only {
    @apply border-gray-200 hover:border-gray-200 focus:border-gray-200 focus:ring-0;
  }

  &:read-only::placeholder {
    @apply text-gray-400 border-gray-200;
  }
}

.input-blue.input-sm {
  @apply py-2 px-2 rounded-lg text-sm;

  &:disabled {
    @apply text-sm;
  }

  &:disabled::placeholder {
    @apply text-sm;
  }
}

.search-input {
  @apply w-full rounded-lg bg-gray-50 border-gray-300 hover:border-blue-600 focus:border-blue-600 focus:ring-0 px-4 py-2 sm:py-3;

  &::placeholder {
    @apply text-gray-500 font-normal text-sm sm:text-base;
  }
}

.search-input-with-loop {
  @apply relative;

  input {
    @apply search-input;
    padding-left: 44px; /* overriding */
  }

  &:before {
    @apply absolute top-0 left-4 w-[19px] h-[19px] pointer-events-none;
    content: var(--icon-search-url);
  }

  &:hover::before, &:focus-within::before {
    content: var(--active-icon-search-url);
  }
}

.form-input-with-loop {
  @apply size-fit relative;

  input {
    @apply search-input;
    padding-left: 44px; /* overriding */
  }

  &:before {
    @apply absolute top-[30%] left-4 w-[19px] h-[19px] pointer-events-none;
    content:  var(--icon-search-url);
  }

  &:hover::before,
  &:focus-within::before {
    content: var(--active-icon-search-url);
  }
}

.form-input-with-clock {
  @apply relative;

  input {
    padding-left: 44px; /* overriding */
  }

  &:before {
    @apply absolute top-[30%] left-4 w-[19px] h-[19px] pointer-events-none;
    content: var(--icon-clock-url);
  }

  
  &:hover::before,
  &:focus-within::before {
    content: var(--active-icon-clock-url);
  }
}


.switch {
  @apply px-3 py-2 inline-flex items-center text-base text-gray-500 rounded-lg border border-gray-300 transition-colors;
}

.switch label {
  @apply inline-flex items-center cursor-pointer;
}

.switch input {
  @apply hidden;
}

.switch .slider {
  @apply relative w-9 h-5 ml-2 bg-gray-100 rounded-2xl shadow-inner transition-colors;
}

.switch .slider::before {
  @apply content-[""] absolute size-4 left-0.5 top-0.5 bg-white rounded-full transition-all;
}

.switch:has(input:checked) {
  @apply border-green-400;
}

.switch input:checked + .slider {
  @apply bg-green-400
}

.switch input:checked + .slider::before {
  @apply translate-x-4;
}

.suggestions {
  @apply relative;
}

.suggestions-dropdown:empty {
  @apply hidden;
}

.suggestions-dropdown {
  @apply absolute z-10 max-h-52 w-full overflow-y-auto mt-1 bg-white shadow-sm rounded-lg border border-gray-200 py-2;
}

.suggestions-dropdown > ul > li {
  @apply cursor-pointer text-sm text-gray-500 px-3 py-2;
}

.suggestions-dropdown > ul > li:hover {
  @apply bg-gray-100 font-bold;
}

.suggestions-dropdown > div {
  @apply text-center py-2 text-gray-500;
}
