[data-theme~="light"] {
  @apply bg-gray-100 shadow-lg rounded-lg px-3 py-2;
  max-width: 600px !important;

  .tippy-content {
    @apply grid gap-x-3 gap-y-2 text-xs;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    > div {
      @apply flex items-baseline space-x-1.5;
    }
  }
}

[data-theme~="lightFilter"] {
  @apply px-3 py-3.5 shadow-lg bg-gray-100 rounded-lg;
}

[data-theme~="lightInfo"] {
  @apply px-5 py-2.5 shadow-lg bg-white rounded-lg;
  max-width: none !important;
}
