<div
  id="<%= @modal_id %>"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  data-controller="<%= @js_controller %>"
>
  <div class="relative h-full max-w-2xl md:h-auto">
    <div class="relative bg-white rounded-lg shadow">
      <%= content %>
    </div>
  </div>
</div>
