<div class="flex items-center justify-between space-x-4 p-4 border-b rounded-t">
  <h3 class="font-semibold text-gray-900 mx-auto">
    <%= @title %>
  </h3>
  <% if @close_btn %>
    <button
      type="button"
      data-action="click->remote-modal#close"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
    >
      <%= helpers.inline_svg "icons/cross" %>
      <span class="sr-only">Close modal</span>
    </button>
  <% end %>
</div>
