<div class="flex items-center space-x-4 px-5 py-3">
  <label class="form-input-with-loop w-full min-[1220px]:w-[562px]">
    <%= @form_object.text_field :search_string, **@input_html %>
  </label>
  <%= @form_object.button @btn_text, name: nil, class: "btn-blue ml-auto", data: { processing: false } %>
</div>
