.default-indicator {
  @apply bg-gray-300 before:content-[''] before:w-[4px] before:h-[4px] before:rounded-full before:bg-gray-300
  before:absolute before:-bottom-4 before:left-1/2 before:-translate-x-1/2;
}

.low-indicator {
  @apply bg-gradient-to-r from-yellow-100 via-yellow-200 via-30% to-yellow-400
  after:content-[''] after:w-[18px] after:h-[18px] after:rounded-full
  after:border-[1px] after:border-white after:bg-yellow-300
  after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2
  before:content-[''] before:w-[4px] before:h-[4px] before:rounded-full before:bg-yellow-300
  before:absolute before:-bottom-4 before:left-1/2 before:-translate-x-1/2;
}

.normally-indicator {
  @apply bg-gradient-to-r from-white to-green-500
  after:content-[''] after:w-[18px] after:h-[18px] after:rounded-full
  after:border-[1px] after:border-white after:bg-green-300
  after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2
  before:content-[''] before:w-[4px] before:h-[4px] before:rounded-full before:bg-green-500
  before:absolute before:-bottom-4 before:left-1/2 before:-translate-x-1/2;
}

.high-indicator {
  @apply bg-gradient-to-r from-red-400 to-red-600
  after:content-[''] after:w-[18px] after:h-[18px] after:rounded-full
  after:border-[1px] after:border-white after:bg-red-600
  after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2
  before:content-[''] before:w-[4px] before:h-[4px] before:rounded-full before:bg-red-600
  before:absolute before:-bottom-4 before:left-1/2 before:-translate-x-1/2;
}
