/* select container */
.select2-container--winery {
  @apply w-full;
}

/* select input container */
.select2-container--winery .select2-selection--single {
  @apply flex items-center justify-between h-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-lg hover:border-blue-600;
}

/* select input container open below */
.select2-container--winery.select2-container--open.select2-container--below .select2-selection--single {
  @apply border-blue-600;
}

.select2-container.select2-container--winery.select2-container--open:not(.select2-container--below):not(.select2-container--above) {
  @apply w-fit !important;
}

/* select input container open above */
.select2-container--winery.select2-container--open.select2-container--above .select2-selection--single {
  @apply border-blue-600;
}

/* select input textbox */
.select2-container--winery .select2-selection--single .select2-selection__rendered {
  @apply px-0;
}

/* placeholder */
.select2-container--winery .select2-selection--single .select2-selection__placeholder {
  @apply text-gray-500;
}

/* arrow */
.select2-container--winery .select2-selection--single .select2-selection__arrow {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15.833 7.5 10 13.333 4.167 7.5'/%3E%3C/svg%3E%0A");
}

/* arrow open dropdown */
.select2-container--winery.select2-container--open .select2-selection--single .select2-selection__arrow {
  @apply rotate-180;
}

/* dropdown container below */
.select2-container--winery.select2-container--open .select2-dropdown--below {
  @apply bg-white shadow-sm rounded-lg border border-gray-200 py-2 z-10 mt-3;
}

/* dropdown container above */
.select2-container--winery.select2-container--open .select2-dropdown--above {
  @apply bg-white shadow-sm rounded-lg border border-gray-200 py-2 z-10 -mt-3;
}

/* dropdown search container */
.select2-container--winery .select2-search--dropdown {
  @apply mt-1 mb-3 mx-3 p-0;

  /* search input */
  input {
    @apply relative py-2 pl-10 bg-gray-50 border-gray-300 rounded-lg hover:border-blue-600 focus:border-blue-600 focus:ring-0;
  }

  /* loop svg */
  &:after {
    @apply absolute top-[23px] left-6 w-[19px] h-[19px] pointer-events-none;
    content: var(--icon-search-url);
  }
  &:hover::after, &:focus-within::after {
    content: var(--active-icon-search-url);
  }
}

/* dropdown options container */
.select2-container--winery .select2-results > .select2-results__options {
  @apply max-h-52 overflow-y-auto;
}

/* dropdown option */
.select2-container--winery .select2-results__option {
  @apply text-sm text-gray-500 px-3 py-2;
}

/* dropdown option group */
.select2-results__option.select2-results__option--group .select2-results__group {
  @apply block pb-2;
}

/* dropdown selected option */
.select2-container--winery .select2-results__option[aria-selected=true] {
  @apply bg-gray-100 font-bold text-gray-600;
}

.select2-container.select2-container--winery--multi {
  @apply w-full;
}

.select2-container--winery--multi .select2-selection--multiple {
  @apply relative min-h-[50px] h-fit pt-2 pr-12 flex flex-wrap rounded-lg border-[1px] border-gray-200 bg-gray-50 cursor-pointer hover:border-blue-600;
}

.select2-container--winery--multi .select2-selection--multiple::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15.833 7.5 10 13.333 4.167 7.5'/%3E%3C/svg%3E%0A");
  @apply absolute right-4 top-4;
}

.select2-container--winery--multi.select2-container--open .select2-selection--multiple::after {
  @apply rotate-180 top-2;
}

.select2-container--winery--multi.select2-container--open.select2-container--below .select2-selection--multiple {
  @apply border-blue-600 rounded-b-lg;
}

.select2-container--winery--multi.select2-container--open.select2-container--above .select2-selection--multiple {
  @apply border-blue-600 rounded-b-lg;
}

.select2-container--winery--multi .select2-dropdown {
  @apply border-[1px] max-h-60 overflow-auto border-gray-300 rounded-xl shadow-2xl mt-2;
}

.select2-dropdown::-webkit-scrollbar {
  display: none;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid;
  @apply rounded-t-xl border-t-gray-300;
}

.select2-container--open .select2-dropdown--above {
  border-top: 1px solid;
  @apply rounded-b-xl border-t-gray-300 -mt-2;
}

.select2-results {
  @apply rounded-xl;
}

.select2-results__options::-webkit-scrollbar {
  display: none;
}

.select2-results__options {
  @apply m-2 rounded-lg;
}

.select2-results__option {
  @apply px-3 py-2 my-1.5 rounded-lg;
}

.select2-container .select2-results__option--selected {
  @apply relative bg-gray-100;
}

.select2-container--winery--multi .select2-results__option--selected::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' aria-hidden='true'%3E%3Cpath stroke='#6b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18 17.94 6M18 18 6.06 6'/%3E%3C/svg%3E%0A");
  @apply absolute right-3;
}

.select2-container--winery--multi .select2-results__option--highlighted.select2-results__option--selectable {
  @apply bg-blue-200 text-black;
}

.select2-container--winery--multi .select2-selection--multiple .select2-selection__rendered {
  @apply inline-flex flex-wrap gap-y-3 ml-3 mt-[6.5px] sm:mt-[4.5px] pb-3 !important;
}

.select2-container--winery--multi .select2-selection--multiple .select2-selection__choice {
  @apply flex-none rounded-md border-none w-fit bg-gray-200 mx-1 text-nowrap;
}

.select2-container--winery--multi .select2-selection--multiple .select2-selection__choice__display {
  @apply pr-3 text-sm text-nowrap;
}

.select2-container--winery--multi .select2-selection--multiple .select2-selection__choice__remove {
  @apply border-none px-2 text-nowrap;
}

.select2-container--winery--multi .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--winery--multi .select2-selection--multiple .select2-selection__choice__remove:focus {
  @apply bg-gray-200 rounded-md;
}

.select2-container--winery--multi .select2-search--inline .select2-search__field {  
  @apply w-fit ml-3 text-base min-h-6 bg-gray-50 mb-2 !important;
  outline: none !important;
  box-shadow: none !important;
}

.select2-container--winery--multi .select2-search--inline .select2-search__field::placeholder {
  @apply text-gray-500;
  text-shadow : 0.4px 0 0;
}

span[class="select2-container select2-container--winery--multi select2-container--open"] {
  @apply w-0 !important; /* hides an invisible select2 element */
}

.field_with_errors .multiselect + .select2.select2-container {
  @apply w-full bg-red-50 border-red-600 !important;
}
